._table{
  margin-top: 10px;
  margin-bottom: 10px;
}
._td{  
  padding: 12px 10px;
  vertical-align: middle;
}
._td:first-child{
  width: 34%;
}
.td_label{
  color: white;
  font-weight: bold;
  background-color: #339933;
  border-bottom: solid 1px rgb(240,240,240);
}
.td_input{
  background-color: rgb(252,252,252);
  border-bottom: solid 1px rgb(240,240,240);
}


input[type="text"], textarea{
  width: 100%;
  border:solid 1px #aaa;
  border-radius: 0;
}

input[type="text"]{
  height: 32px;
}

input[type="radio"], input[type="checkbox"]{
  margin-right: 4px;
  padding-top: 10px;
  padding-bottom: 10px;
}


.required{
  color: orange;
}
.error{
  color: red;
  font-weight: bold;
}
.tail{
 margin-top: 20px;
 }
.tail .title{
 font-weight: bold;
 font-size: 1.2em;
}
.tail .tel{
 font-weight: bold;
 font-size: 1.4em;
}


@media (max-width: 767px){
  ._table,._tbody,._tr,._td{
    display: block;
  }
  ._table{
    margin-top: 0;
    margin-bottom: 0;
  }
  ._td{
    padding: 0;
  }
  ._td:first-child{
    width: 100%;
  }
  .td_label{
    color: #339933;
    background-color: white;
    border: none;
    padding-top: 25px;
    padding-bottom: 3px;
  }
  .td_input{
    background-color: white;
    padding-top: 3px;
    padding-bottom: 5px;
    border: none;
  }
  input[type="text"]{
    height: 34px;
  }
  .ms-button{
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
  }
}

@media (min-width: 768px){
  .ms-button{
    padding: 8px 15px;
  }
}

#policy{  
  border: solid 1px #ccc;  
  background-color: #f8f8f8;
  padding: 10px;
  margin-top: 15px;
  margin-bottom: 20px;
  border-radius: 5px;
  font-size: 12px;
}
#policy p{
  margin-bottom: 6px;
}
#policy .pl_title{
  font-weight: bold;
  padding-bottom: 10px;  
}
#policy .pl_required{ 
  background-color: #339933;
  margin-left: 15px;
  color: white;
  font-size: 0.9em;
  padding: 3px 10px;
  border-radius: 2px;
}
#policy table{
  width: 100%;
}
#policy td{
  vertical-align: middle;
  padding-top: 8px;
  font-weight: bold;
}
#policy td:first-child{
  width: 20px;
}