

AddType "text/html; charset=UTF-8" html

php_flag magic_quotes_gpc off
php_value "default_charset" "UTF-8"
php_value "mbstring.language" "Japanese"
php_value "mbstring.internal_encoding" "UTF-8"

RewriteEngine On
RewriteCond $1 !^(index\.php|assets|uploads|images|robots\.txt)
RewriteRule ^(.*)$ index.php/$1 [L]
